@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      user-select: none;
}
}

body{
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'NML';
  src: url('/fonts/NeueMachina-Light.otf'), format('opentype');
}

@font-face {
  font-family: 'NMR';
  src: url('/fonts/NeueMachina-Regular.otf'), format('opentype');
}

@font-face {
  font-family: 'NMUB';
  src: url('/fonts/NeueMachina-Ultrabold.otf'), format('opentype');
}

@font-face {
  font-family: 'PPNMB';
  src: url('/fonts/PPNeueMontreal-Bold.otf'), format('opentype');
}

@font-face {
  font-family: 'PPNMM';
  src: url('/fonts/PPNeueMontreal-Medium.otf'), format('opentype');
}

@font-face {
  font-family: 'PPNMBK';
  src: url('/fonts/PPNeueMontreal-Book.otf'), format('opentype');
}


.title-hero {
  font-family: 'NMUB';
}

.sticky-item {
  position: sticky;
  top: 0;
}

.about-head {
  font-family: 'PPNMB';
}

.about-desc {
  font-family: 'PPNMM';
}

.project-section-title {
  font-family: 'NMUB';
}

.proj-title {
  font-family: 'PPNMM';
}

.project-title {
  font-family: 'PPNMB';
}

.proj-title {
  will-change: transform, opacity; /* Hint to the browser to optimize animations */
}

.projects-section-heading {
  font-family: 'NMUB';
}

.certificates-section-heading {
  font-family: 'NMUB';
}

.certi-title{
  font-family: 'NMUB';
}

.certi-desc{
  font-family: 'PPNMM';
}

.contact-title {
  font-family: 'PPNMB';
}

.copyrite {
  font-family: 'NMR';
}

.nav {
  font-family: 'NMR';
}